.about .about__holder {
    display: flex;
}

.about .about__info {
    flex: 0 0 30%;
}

.about .about__contacts {
    flex: 0 0 70%;
}

.about .about__contacts h3 {
    margin-bottom: 30px;
    font-size: 35px;
}

.about .about__contacts ul li {
    margin-bottom: 15px;
}

.about .about__contacts ul p {
    display: inline-block;
    margin-right: 30px;
}
