.elements ul {
  display: flex;
  justify-content: space-around;
}

.elements ul li {
  color: #044599;
  font-size: 28px;
  text-align: center;
  transition: 0.2s;
}

.elements ul li p {
  background-color: white;
}